* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
html {
    margin: 0px;
    padding: 0px;
}
body {
    color: black;
    background-image: url(/img/pexels-spacex-23795.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}
.contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.title h1 {
    font-size: 80px;
}
.title h1:hover {
    transform: scale(1.1,1.1);
}
.title p {
    font-size: 28px;
    text-decoration: underline;
}
.img-profile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.img-profile img {
    max-width: 100%;
    height: auto;
}
.list-bio {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.list-title h3 {
    font-size: 30px;
}
.list-info {
    background-color: rgba(255, 255, 255, 0.5);
    width: 85%;
    font-size: 20px;
    color: black;
}
.frase {
    font-style: italic;
    font-size: 24px;
}
.frase:hover {
    text-decoration: underline;
    transform: scale(1.1,1.1);
}
.more-info {
    margin-top: 6vh;
}
.more-info a {
    color: black;
    text-decoration: none;
}
.more-info a:hover {
    color: red;
    text-decoration: underline;
}

@media all and (max-width: 576px) {
    .title h1 {
        font-size: 60px;
    }
    .title p {
        font-size: 18px;
    }
}
@media all and (max-width: 480px) {
    .title h1 {
        font-size: 50px;
    }
    .title p {
        font-size: 14px;
    }
}
@media all and (max-width: 436px) {
    .title h1 {
        font-size: 35px;
    }
    .title p {
        font-size: 11px;
    }
}
@media all and (max-width: 360px) {
    .title h1 {
        font-size: 34px;
    }
    .img-profile img {
        width: 300px;
    }
    .list-title {
        width: 100%;
    }
    .list-title h3 {
        font-size: 22px;
    }
}
@media all and (max-width: 320px) {
    .title h1 {
        font-size: 25px;
    }
    .img-profile {
        width: 100%;
    }
    .img-profile img {
        width: 100%;
    }
}


